<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.ksys.ringo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <!-- Permission to Send SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  >
        <activity
            android:name=".integrated.Menu"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Configuración Servidor"
            android:parentActivityName=".integrated.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".integrated.Menu"/>
        </activity>

        <service
            android:name=".service.xmpp.XMPPClientService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service android:name=".service.discovery.DiscoveryService"
                 android:enabled="true"
                 android:exported="false">
        </service>

        <activity
            android:name=".VisitorActivity"
            android:label="Gestión de visitantes"
            android:parentActivityName=".integrated.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".integrated.Menu"/>
        </activity>

        <activity
            android:name=".VisitActivity"
            android:label="Gestión de visitas"
            android:parentActivityName=".integrated.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".integrated.Menu"/>
        </activity>

        <activity
            android:name=".service.VisitDetails"
            android:label="Detalle de la visita"
            android:parentActivityName=".service.VisitDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.VisitDetails"/>
        </activity>

        <activity
            android:name=".integrated.Login"
            android:label="Acceso a usuario" >
        </activity>

    </application>

</manifest>
